body
{
	text-align: center;
	background-image:url('dothack.png');
}

h1 {
  -moz-transform: skew(-25deg);
  -webkit-transform: skew(-25deg);
}

textarea 
{
	resize: both;
	overflow: vertical;
	width: 30em;
	max-width: 30em;
	min-width: 30em;
	min-height: 15em;
    /* Border style */
    border: 1px solid #cccccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	padding: 5px;

  -moz-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);

}

